@import 'site';


$board-background-color: #beaca6;
$tile-background-color: #776e65;

$dark-text: #786d68;
$light-text: #fef7fa;

$tile-colors: (
  ($dark-text, #eee4da), /* 2 */
  ($dark-text, #ece0c6), /* 4 */
  ($light-text, #f1b078), /* 8 */
  ($light-text, #ed8b51), /* 16 */
  ($light-text, #f47c62), /* 32 */
  ($light-text, #e95937), /* 64 */
  ($light-text, #f2d86a), /* 128 */
  ($light-text, #e3c02c), /* 512 */
  ($light-text, #e2b913), /* 1024 */
  ($light-text, #ecc400), /* 2048 */
  ($light-text, #5eda92)  /* 4096 */
);

/*
  Scaling
*/
$break-large: 417px;
$large-board-size: 400px;

$break-small: 300px;
$medium-board-size: 300px;
$small-board-size: 225px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @if $media == not-handhelds {
    @media only screen and (min-width: $break-small + 1) { @content; }
  }
  @else if $media == not-wide-screens {
    @media only screen and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 5px;
  background-color: $board-background-color;

  @include respond-to(not-wide-screens) {
    margin-top: 5px;
  }
  @include respond-to(wide-screens) {
    margin-top: 20px;
  }

  @include respond-to(handhelds) {
    height: $small-board-size;
    width: $small-board-size;
  }
  @include respond-to(medium-screens) {
    height: $medium-board-size;
    width: $medium-board-size;
  }
  @include respond-to(wide-screens) {
    height: $large-board-size;
    width: $large-board-size;
  }

  %tile {
    flex-grow: 1;
    flex-basis: 21%;
    margin: 5px;
    border-radius: 5px;
    border-color: blue;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .emptyTile {
    @extend %tile;
    background-color: $tile-background-color;
  }

  %baseNumberTile {
    @extend %tile;

    .number {
      position: absolute;

      @include respond-to(handhelds) {
        font-size: medium;
      }
      @include respond-to(medium-screens) {
        font-size: x-large;
      }
      @include respond-to(wide-screens) {
        font-size: xx-large;
      }
    }
  }

  $n: 2;
  @each $tile-color in $tile-colors {
    .tile#{$n} {
      @extend %baseNumberTile;
      color: nth($tile-color, 1);
      background-color: nth($tile-color, 2);
    }
    $n: $n * 2;
  }
}

.gameOver {
  height: $large-board-size;
  width: $large-board-size;
  border-radius: $border-radius;
  position: absolute;
  z-index: 1000;
  text-align: center;
  line-height: $large-board-size;
  background-color: rgba(0,0,0,0.5);

  .label {
    @include respond-to(handhelds) {
      font-size: 30px;
    }
    @include respond-to(medium-screens) {
      font-size: 35px;
    }
    @include respond-to(wide-screens) {
      font-size: 40px;
    }
  }
}

.newGame {
  font-size: large;
  @include respond-to(not-wide-screens) {
    width: 100%;
    display: block;
  }
}

.scores {
  @include respond-to(medium-screens) {
    width: 220px;
  }
  @include respond-to(not-wide-screens) {
    margin: auto;
    margin-bottom: 5px;
  }
  @include respond-to(wide-screens) {
    float: right;
  }
}

.score {
  padding: 10px;
  margin-left: 10px;

  @include respond-to(handhelds) {
    width: 73px;
  }
  @include respond-to(not-handhelds) {
    width: 80px;
  }

  background-color: $board-background-color;
  color: $light-text;
  border-radius: $border-radius;
  display: inline-block;
  text-align: center;

  .label {
    display: block;
    color: #e9d9c6;
  }
}
