@import 'site';

$boarder-radius: 5px;

$board-size: 400px;
$board-background-color: #beaca6;
$tile-background-color: #776e65;

$dark-text: #786d68;
$light-text: #fef7fa;

$tile-colors: (
  ($dark-text, #eee4da), /* 2 */
  ($dark-text, #ece0c6), /* 4 */
  ($light-text, #f1b078), /* 8 */
  ($light-text, #ed8b51), /* 16 */
  ($light-text, #f47c62), /* 32 */
  ($light-text, #e95937), /* 64 */
  ($light-text, #f2d86a), /* 128 */
  ($light-text, #e3c02c), /* 512 */
  ($light-text, #e2b913), /* 1024 */
  ($light-text, #ecc400), /* 2048 */
  ($light-text, #5eda92)  /* 4096 */
);

.score {
  float: right;
  margin-bottom: 15px;

  background-color: $board-background-color;
  color: $light-text;
  border-radius: $boarder-radius;
  display: inline-block;
  padding: 5px;
  text-align: center;

  .label {
    display: block;
    color: #e9d9c6;
  }
}

.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  border-radius: 5px;
  height: $board-size;
  width: $board-size;
  clear: both;
  background-color: $board-background-color;

  %tile {
    flex-grow: 1;
    flex-basis: 21%;
    margin: 5px;
    border-radius: 5px;
    border-color: blue;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .emptyTile {
    @extend %tile;
    background-color: $tile-background-color;
  }

  %baseNumberTile {
    @extend %tile;

    .number {
      position: absolute;
      font-size: xx-large;
    }
  }

  $n: 2;
  @each $tile-color in $tile-colors {
    .tile#{$n} {
      @extend %baseNumberTile;
      color: nth($tile-color, 1);
      background-color: nth($tile-color, 2);
    }
    $n: $n * 2;
  }
}

.gameOver {
  height: $board-size;
  width: $board-size;
  border-radius: $boarder-radius;
  position: absolute;
  z-index: 1000;
  text-align: center;
  line-height: $board-size;
  background-color: rgba(0,0,0,0.5);

  .label {
    font-size: 40px;
  }
}
