@import 'common';

.title {
  display: flex;
  justify-content: center;
  color: $header-background-color;
}

button {
  cursor: pointer;
  font-size: 100%;
  font-family: inherit;
  border: 0;
  color: $header-color;
  background-color: $header-background-color;
  border-radius: $border-radius;
  padding: 10px;
}
